h1,h2,h3,h4,h5,h6{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: #920707;
    font-size: 210%;
    margin-bottom: 4rem;
}

p{
    font-size: 180%;
    background-color: $color;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: rgb(252, 216, 219);
}